
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,a,img,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}:focus{outline:0;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:400;}blockquote:before,blockquote:after,q:before,q:after{content:"";}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}.clear{clear:both;height:0;width:0;margin:0;padding:0;}.no,.ausblenden{display:none;}

header,section,footer,aside,nav,article,figure { display: block; }

.clear {
    clear: both;
}

html,body {
    height: 100%;
}

body {
    position: relative;
    background-color: #091629;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}




.logo {
    height: 25vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-weight: normal;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  



  body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'UnifrakturCook';
    }
  
  .container {
    color: white;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    z-index: 10;
  }


   .glitch-img {
     position: absolute; 
     width : 100%; 
     height : 100%; 
     top: 0 ; 
     left : 0; 
     background-position:center;  
     -moz-background-size:cover;
     -o-background-size:cover;
     -webkit-background-size:cover;
     background-size:cover;
     opacity : 1
   } 
